<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hello World-vuejs</title>
</head>
<body>
    
    <div id="app">
        <input type="text" name="name" placeholder="Ingresa tu nombre" v-model="nombre">
        <p>Tu nombre en mayúscula es: {{ nombre | uppercase }}</p>

        <form @submit.prevent="submit">
            <h2>¿Cuáles son tus lenguajes de programación favoritos?</h2>
            <template v-for="lan in languages">
                <input v-model="selections" type="checkbox" v-bind:id="lan.value" v-bind:value="lan.value">
                <label v-bind:for="lan.value">{{ lan.name }}</label>
            </template>
            <br>
            <button>Enviar</button>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        let app = new Vue({
            el: '#app',
            data: {
                nombre: '',
                languages: [
                    {
                        name: 'Javascript',
                        value: 'javascript'
                    },
                    {
                        name: 'C#',
                        value: 'c sharp'
                    },
                    {
                        name: 'Java',
                        value: 'java'
                    },
                    {
                        name: 'Python',
                        value: 'python'
                    },
                    {
                        name: 'PHP',
                        value: 'php'
                    }
                ], 
                selections: []
            },
            filters: {
                uppercase: str => str.toUpperCase()
            },
            methods: {
                submit: function() {
                    console.log(this.selections)
                }
            }
        })
    </script>
</body>
</html>