<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hello World-vuejs</title>
</head>
<body>
    
    <div id="app">
        <input type="text" name="name" placeholder="Ingresa tu nombre" v-model="nombre">
        <p>Tu nombre en mayúscula es: {{ nombre | uppercase }}</p>

        <form @submit.prevent="submit">
            <h2>¿Cuáles son tus lenguajes de programación favoritos?</h2>
            <template v-for="lan in languages">
                <languages :lan="lan" @checked="selectLanguage"></languages>
                <!-- <input v-model="selections" type="checkbox" v-bind:id="lan.value" v-bind:value="lan.value">
                <label v-bind:for="lan.value">{{ lan.name }}</label> -->
            </template>
            <br>
            <button>Enviar</button>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>

        Vue.component('languages', {
            props:['lan'],
            methods: {
                onchange: function (ev) {
                    this.$emit('checked', this.lan.value, ev.target.checked)
                }
            },
            template: `
                <div>
                    <input type="checkbox" v-bind:id="lan.value" v-bind:value="lan.value" @change="onchange">
                    <label v-bind:for="lan.value">{{ lan.name }}</label> 
                </div>
            `
        })

        let app = new Vue({
            el: '#app',
            data: {
                nombre: '',
                languages: [
                    {
                        name: 'Javascript',
                        value: 'javascript'
                    },
                    {
                        name: 'C#',
                        value: 'c sharp'
                    },
                    {
                        name: 'Java',
                        value: 'java'
                    },
                    {
                        name: 'Python',
                        value: 'python'
                    },
                    {
                        name: 'PHP',
                        value: 'php'
                    }
                ], 
                selections: []
            },
            filters: {
                uppercase: str => str.toUpperCase()
            },
            methods: {
                submit: function() {
                    console.log(this.selections)
                },
                selectLanguage: function (lan, checked) {
                    if (checked) {
                        this.selections.push(lan)
                    } else {
                        let index = this.selections.indexOf(lan)
                        this.selections.splice(index, 1)
                    }
                }
            }
        })
    </script>
</body>
</html>